<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38839269786-isujbatvtfb6amagahiajiboid21pk8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38839269786-isujbatvtfb6amagahiajiboid21pk8v</string>
	<key>API_KEY</key>
	<string>AIzaSyCCBvmY7xAXq6_Z1ayVhFsfQSVcil5tx2w</string>
	<key>GCM_SENDER_ID</key>
	<string>38839269786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HyeonA.LoginProject</string>
	<key>PROJECT_ID</key>
	<string>loginproject-8f89b</string>
	<key>STORAGE_BUCKET</key>
	<string>loginproject-8f89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38839269786:ios:2efb7530335932bb94e223</string>
	<key>DATABASE_URL</key>
	<string>https://loginproject-8f89b.firebaseio.com</string>
</dict>
</plist>